.principal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: rgba(6, 46, 131, 0.61);
	border-radius: 10px;
	box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.541);
}

.principal h1 {
	text-align: center;
	color: white;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(23, 2, 39);
}

.principal form {
	padding: 0 40px;
}

form .txt-field {
	text-align: center;
}

.forgot-pass {
	text-align: right;
}

.forgot-pass a {
	font-size: small;
	color: aliceblue;
}

.signup {
	text-align: center;
	margin-bottom: 20px;
}

.signup a {
	color: aliceblue;
	text-decoration: none;
}

.txt-field input {
	text-align: center;
	padding: 7px 0;
	margin: 10px 0;
	border: none;
	border-radius: 5px;
}

.login-panel {
	text-align: center;
}

#btn-submit {
	width: 50%;
	background: white;
	border: none;
	border-radius: 50px;
	height: 30px;
	font-weight: 600;
	color: rgb(109, 47, 167);
	margin: 30px 0;
	cursor: pointer;
}

#btn-submit:hover{
	background-color: rgb(123, 177, 235);
	color: white;
	transition: 0.5s;
}