.foto-user {
    width: 120px;
    height: 120px;
    object-fit: cover; /* Não deixa a foto esticada */
}


.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    position: relative;
    margin-left: 20px;
}

.mt {
    margin-top: 20px;
}

.inline {
    display: inline-block;
}

.user-nick {
    color: orangered;
    font-weight: 500;
    margin-left: 20px;
}

.user-contato {
    color: silver;
    font-weight: 200;
    margin-left: 20px;
}

.link-geral {
    text-decoration: none;
    cursor: pointer;
}

.bio {
    color: white;
}

.btn-edit-foto {
    float: left;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.btn-edit-foto:hover {
    background: green;
}

.card {
    margin-top: 0;
}

.img-card {
    width: 180px;
    height: 150px;
    object-fit: cover;
}