body {
    background-image: url('../img/bg_main.jpg');
    height: 100%;
}

.superior {
    margin-top: 1rem;
    background-image: url(../img/valo12.jpg);
    background-size: cover;
    border-radius: 10px;
}

.img-user {
    border-radius: 50% ;
    border: solid orange;
    position: relative;
    left: 7%;
    top: 110px;
    width: 220px;
    height: 220px;
}

.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: relative;
    margin-top: 40px;
}

.link-editar {
    font-size: 20px;
    margin: 5px 0 0 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.bio, .nick-jogo {
    font-size: large;
    color: white;
}

.nick-jogo {
    color: orangered;
    font-weight: 500;
}

.clear {
    margin-bottom: 55px;
}