body {
    background-image: url('../img/bg_main.jpg');
    height: 100%;
}

.superior {
    margin-top: 1rem;
    background-image: url(../img/valo12.jpg);
    background-size: cover;
    border-radius: 10px;
    height: 80px;
}


.foto-user {
    width: 120px;
    height: 120px;
    object-fit: cover; /* Não deixa a foto esticada */
}


.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    position: relative;
    margin-left: 20px;
}

.mt {
    margin-top: 20px;
}

.inline {
    display: inline-block;
}

.user-nick {
    color: orangered;
    font-weight: 500;
    margin-left: 20px;
}

.user-contato {
    color: silver;
    font-weight: 200;
    margin-left: 20px;
}

.link-geral {
    text-decoration: none;
    cursor: pointer;
}

.bio {
    color: white;
}

.btn-edit-foto {
    padding: 0px 5px 5px 5px;
    position: relative;
    top: 39px;
    left: -37px;
}

.btn-edit-foto:hover {
    background: green;
}

.clear {
    margin-bottom: 55px;
}