body {
    background: url("../img/bg_main.jpg"), no-repeat;
    background-position: center 0;
}

.navbar-brand {
    margin-right: 30px;
}

span {
    font-weight: bold;
    color:orange;
}

div > .btn-login {
    margin: 5px 12px;
}

.footer {
    position:absolute;
    text-align: center;
    bottom:0;
    width:100%;
    height:60px;
 }

 
.alert {
    z-index: 1;
    margin: 70px;
}